* {
  box-sizing: border-box;
}

h1 {
font-size: 5em;
line-height: 1.2em;
}

h2 {
  text-transform: uppercase;
}

h2:before {
  position: relative;
  top: .1em;
  padding-right: .75em;
}

input {
  display: block;
  padding: .5em;
  width: 100%;
  font-size: 1em;
  margin-bottom: .5em;
}

body {
  background: url('../img/old-technology.jpg') fixed;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
  z-index: -1;

  &:after {
    position: absolute;
    content:'';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}


.section {
  padding: 2em;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 15px -5px #000000;
  position: relative;
}

.create-user {
  width: 31.333%;
  margin: 1%;
  background-color: $bluegray;
}

.user-error {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  padding: 1em 2em;
  background-color: $orange;
  border-radius: 3px;
  z-index: -1;
  transition: bottom .3s ease-in;
}

.page-header {
  text-align: center;
  padding: 2em;
  background-color: rgba(106, 130, 132, .6);
  margin: 0 1% 1%;
}

.user-list-section {
  background-color: $peach;
  width: 64.666%;
  margin: 1%;
  vertical-align: top;
  h2 {
    display: inline-block;
  }
}

.user-table-header {
  position: relative;
  padding: .25em;
}

.user-table-nav {
  display: inline-block;
}

.user-list-search {
  width: auto;
  display: inline-block;
  border:0;
  border-radius: 2px;
  margin-left: 1em;
  padding: .5em;

  &:hover {
    outline: none;
  }
}

.user-table-sort {
  position: absolute;
  top: 0;
  right: 0;

}

.user-list-sort {
  display: inline-block;
  padding: .25em 1em;
  border-radius: 2px;
  -webkit-appearance: none;
  border: none;
  font-weight: bold;
  background-color: $orange;
  color: #fff;
  font-size: 1em;
  &:focus {
    outline: none;
  }
}

button {
  border: 0;
  padding: 1em;
  font-size: .75em;
  font-weight: 800;
  border-radius: 2px;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.add-user-button {
  padding-left: 2em;
  margin-top: .5em;
  &:focus {
    outline: none;
  }

  &:before {
    content:'+';
    font-size: 2em;
    position: absolute;
    left: .25em;
    top: -1em;
    font-weight: 800;
    opacity: 0;
    transition: all .1s ease-in;
  }

  &:hover {
    background-color: $orange;
    color: #fff;
    &:before {
      top: .1em;
      opacity: 1;
    }
  }
}


.user-list {
  width: 100%;
}

.user-list li {
  display: table-row;
}

.user-list-button {
  font-family: 'userlisticons';
  font-size: 1.25em;
  background-color: transparent;
  color: #fff;
  padding: .25em;
  &:hover {
    color: #ccc;
  }
}

.user-options,
.user-email,
.user-data {
  display: table-cell;
}

.user-options,
.user-email,
.user-data {
  padding: .5em;
}

.user-data {
  width: 5%;
}

.user-name {
  width: 40%;
}

.user-email {
  width: 50%;
}
